name: "Build"

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
    branches:
      - main
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: ./gradlew build koverXmlReport --full-stacktrace

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/kover/report.xml
