name: githubpages

on:
  release:
    types: [published]
  workflow_dispatch:
    branches: [main]

jobs:
  githubpages:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: gradle/actions/setup-gradle@v4

      - run: ./gradlew -Pversion=${{ github.event.release.tag_name }} dokkaHtmlMultiModule

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/dokka/htmlMultiModule
